.inner {
    .search-wrap {
        display: flex;
        gap: 1rem;

        input {
            flex: 6;
            color: var(--kakaotext);
        }

        .btn {
            flex: 1
        }
    }
}